tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
}

[x-cloak] {
    display: none !important;
}

.sortable-ghost {
    opacity: .5;
    background: #C8EBFB;
}
.sort-handle {
	cursor: move;
	cursor: -webkit-grabbing;
}
