{{define "flashes_modal"}}
  {{if or .operations .errors }}
  <script>
    var notyf = new Notyf({
      ripple: false,
      dismissible: true,
      duration: 2500,
      position: {
        x: 'center',
        y: 'top',
      }
    });
    {{range .operations}}
      notyf.success("{{.}}");
    {{end}}
    {{range .errors}}
      notyf.error("{{.}}");
    {{end}}
  </script>
  {{end}}
{{end}}