{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ section.title }} | {{ config.title }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block favicon %}
        <link rel="icon" type="image/png" href="/favicon.ico">
    {% endblock favicon %}
    {% include "_variables.html" %}
    {% block fonts %}
    {% endblock fonts %}
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="{{ get_url(path="juice.css") }}">
    {% block head %}
    {% endblock head %}
</head>

<body>
    {% block header %}
    <header class="box-shadow">
        {{ macros::render_header() }}
    </header>
    {% endblock header %}

    <main>
        <div class="content text">
          {% block content %}
          <ul class="blog-posts">
          {% for page in section.pages %}
            <li>
              <span>
                <i>
                  <time datetime='{{ page.date | date(format='%+') }}' pubdate>
                    {{ page.date | date(format=config.extra.date_format) }}
                  </time>
                </i>
              </span>
              <a href="{{ page.permalink }}">{{ page.title }}</a>
            </li>
            {% else %}
            <li>
              No posts yet
            </li>
          {% endfor %}
          </ul>
          {% endblock content %}
        </div>

        {% block sidebar %}
        {% endblock sidebar %}
    </main>
    {% include "footer.html" ignore missing -%}
</body>
<script>
    const scrollHandler = entries => {
        // Find the first entry which intersecting and ratio > 0.9 to highlight.
        let entry = entries.find(entry => {
            return entry.isIntersecting && entry.intersectionRatio > 0.9;
        });
        if (!entry) return;

        document.querySelectorAll(".toc a").forEach((item) => {
            item.classList.remove("active");
        });

        // let url = new URL(`#${entry.target.id}`);
        let link = document.querySelector(`.toc a[href$="${decodeURIComponent(`#${entry.target.id}`)}"]`)
        if (link) {
            link.classList.add("active");
            link.scrollIntoView({ behavior: "auto", block: "nearest" });
        }
    };
    // Set -100px root margin to improve highlight experience.
    const observer = new IntersectionObserver(scrollHandler, { threshold: 1 });
    let items = document.querySelectorAll('h1,h2,h3,h4,h5,h6');
    items.forEach(item => observer.observe(item));
</script>

</html>