name: unit-tests
on:
  workflow_dispatch:
  push:
    branches: ["**"]
  pull_request:
    branches: [main]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Src Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - run: mkdir -p .cache/tools ~/go/pkg/mod ~/.cache/go-build
      - name: Restore cached tools and go
        id: cache-tools-and-go-restore
        uses: actions/cache/restore@v4
        with:
          path: |
            .cache/tools
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-${{ runner.arch }}-cache-${{ hashFiles('tools/tools.conf', '**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-${{ runner.arch }}-cache-

      - uses: jdx/mise-action@v3
        with:
          experimental: true

      - name: Build
        env:
          GOPROXY: "https://proxy.golang.org"
          CI: true
          GOEXPERIMENT: loopvar
          LOG_LEVEL: debug
          LOG_FORMAT: plain
          PRODUCTION: false
        run: just build

      - name: Check
        env:
          GOPROXY: "https://proxy.golang.org"
          CI: true
          GOEXPERIMENT: loopvar
          LOG_LEVEL: debug
          LOG_FORMAT: plain
          PRODUCTION: false
        run: just check

      - name: Tests
        env:
          GOPROXY: "https://proxy.golang.org"
          CI: true
          GOEXPERIMENT: loopvar
          LOG_LEVEL: debug
          LOG_FORMAT: plain
          PRODUCTION: false
        run: just test
